
<div class="footer p-3">
    <div>
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div style="display:flex;">
                        <i class="fa-solid fa-diamond" style="color: #ffffff;"></i>
                        <h6 class="ms-3"><b>MOBILE BANKING PVT LTD</b></h6>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <h6>CONNECTIONS</h6>
                    <a href="#" class="b-link">Federal Bank</a><br>
                    <a href="#" class="b-link">State Bank of India</a><br>
                    <a href="#" class="b-link">Canara Bank</a><br>
                    <a href="#" class="b-link">South Indian Bank</a><br>
                    <a href="#" class="b-link">Kotak Mahindra Bank</a><br>

                </div>
                 <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <h6>WORKS</h6>
                    <a href="{% url 'bankingapp:home' %}" class="b-link">Home</a><br>
                    <a href="#" class="b-link">Contact us</a><br>
                    <a href="{% url 'bankingapp:logout' %}" class="b-link">Logout</a><br>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <h6>CONTACT</h6>
                    <div style="display:flex">
                        <i class="fa-solid fa-house" style="color: #ffffff;"></i>
                        <p class="ms-3">Malappuram,India</p>
                    </div>
                    <div style="display:flex">
                        <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
                        <p class="ms-3">banking@gmail.com</p>
                    </div>
                    <div style="display:flex">
                        <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                        <p class="ms-3">9876451541</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center; font-size:12px;">
            &copy; copy right 2022:mobile banking pvt ltd
        </div>
    </div>
</div>

